.Post {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  width: 250px;
  padding: 0 1rem;
  margin: .5rem;
}
.Blog {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.Blog h1 {
  width: 100%;
  text-align: center;
}